.description {
    &__wrapper {
        margin-top: 222px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;

        &:last-child {
            margin-top: 200px;
        }

        &-results {
            max-width: 700px;
            width: 100%;

            &-title {
                font-weight: 400;
                font-size: 12px;
                margin-bottom: 50px;
            }

            &-text {
                font-weight: 400;
                font-size: 25px;
                max-width: 505px;
                &:last-child{
                    margin-top: 50px;
                }
            }
        }

        &:first-child {
            margin-bottom: 120px;
        }

        &-pic {
            max-width: 700px;
            width: 100%;
        }

        &-img {
            max-width: 100%;
        }

        &-development {
            max-width: 700px;
            width: 100%;

            &-list {
                margin-top: 50px;
            }

            &-item {
                font-weight: 400;
                font-size: 25px;
            }

            &-date {
                font-weight: 400;
                font-size: 20px;
                color: #7B7B7B;
                margin-top: 50px;
            }

            &-text {
                font-weight: 400;
                font-size: 25px;
                color: #F1F1F2;
                max-width: 505px;
                margin-top: 50px;
            }

            &-wrapper-button {
                margin-top: 70px;
            }

            &-button {
                font-weight: 400;
                font-size: 16px;
                border: 1px solid #F1F1F2;
                padding-top: 20px;
                padding-bottom: 20px;
                padding-left: 25px;
                padding-right: 25px;

            }
        }
    }
    &__layout{
        margin-top: 200px;
        &-img{
            width: 100%;
        }
    }

}

.arrow2 {
    margin-right: 10px;
}