.footer {
    padding: 0px 20px;
    overflow: hidden;
    position: relative;
    margin-top: 200px;
    &__wrapper {
        display: flex;
        margin-top: 45px;
        justify-content: space-between;
    }

    &__inner {
        max-width: 700px;
        width: 100%;
    }

    &__logo {
        &-wrapper {
            display: flex;
        }

        &-link {
            margin-top: 8px;
        }
    }

    &__title {
        max-width: 568px;
        font-weight: 400;
        font-size: 36px;
        color: #F1F1F2;
        margin-left: 18px;
        line-height: 130%;

    }

    &__text {
        max-width: 564px;
        margin-top: 50px;
        font-weight: 400;
        font-size: 28px;
        margin-left: 138px;
        line-height: 150%;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 20px;
        // margin-left: 138px;
        margin-top: 200px;

        &:first-child {
            margin-top: 120px;
        }

        &:last-child {
            margin-top: 0px;
        }
    }

    &__list {
        margin-top: 60px;
        // margin-left: 138px;

        &-item {
            font-weight: 400;
            font-size: 24px;
        }
    }

    &__link-wrapper {
        margin-top: 236px;
    }

    &__link {
        font-weight: 400;
        font-size: 28px;
    }

    &__crumb {
        margin-bottom: 45px;
    }

    &__contacts {
        margin-top: 200px;
        display: flex;
        justify-content: space-between;

        &-social {
            &-title {
                margin-left: 136px;
                font-weight: 400;
                font-size: 20px;
                color: #F1F1F2;
            }

            &-list {
                margin-left: 136px;
                margin-top: 60px;
            }

            &-link {
                font-weight: 400;
                font-size: 24.5803px;
            }
        }

        &-container {
            max-width: 700px;
            width: 100%;
        }
        &-mail {
            font-weight: 400;
            font-size: 28px;
            color: #F1F1F2;
        }
    }
    &__nav{
        position: absolute;
        right: -50px;
        bottom: -65px;
        border: 1px solid white;
        padding: 143px 118px;
        border-radius: 50%;
    }
}

.list-skills {
    margin-top: 0px;
    margin-top: 60px;
}

.skills-item {
    font-weight: 400;
    font-size: 25px;
}


.list-prize {
    margin-top: 60px;
}

.prize-item {
    font-weight: 400;
    font-size: 20px;
}

.skills {
    font-weight: 400;
    font-size: 20px;
    margin-top: 100px;
}

.prize {
    font-weight: 400;
    margin-top: 80px;
}

.subtext {
    font-weight: 400;
    font-size: 20px;
}

.contact-list {
    margin-left: 138px
}

.contact-title {
    margin-left: 138px;
}