.hunter-intro {
    max-width: 1500px;
    margin: 0 auto;
    &__title {
        font-weight: 400;
        font-size: 60px;
    }

    &__pic {
        margin-top: 82px;
    }

    &__img {
        max-width: 100%;
    }
}