.hunter-intro {
    padding: 0px 20px;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    // overflow: hidden;

    &__pic {
        margin-top: 0px;
    }

    &__img {
        max-width: 100%;
    }
}