.header {
    padding: 0px 20px;
    height: 200px;
    overflow: hidden;
    position: relative;
    &-case {
        height: 292px;
    }
    &__container {
        max-width: 1501px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 60px;
        &-case {
            flex-direction: column;
        }
    }

    &__logo-wrapper {
        display: flex;
        height: 50px;
    }

    &__nav-list {
        display: flex;
        font-size: 18px;
    }

    &__nav-item:not(:last-child) {
        margin-right: 50px;
    }

    &__logo-description {
        font-size: 22px;
        line-height: 25, 3px;
        margin: 0px;
        margin-left: 10px;
    }

    &__toggle {
        margin-top: 16px;
        border: none;
        width: 35px;
        height: 1px;
        box-shadow: 0 15px 0 0 #ffffff;
        display: none;
        cursor: pointer;
    }
    &__title {
        font-weight: 400;
        font-size: 60px;
        margin-top: 60px;
        margin-bottom: 0px;
    }
}
.nav-link {
    justify-content: center;
    align-items: center;
    position: absolute;
    border: 1px solid white;
    display: flex;
    width: 290px;
    height: 290px;
    border-radius: 100%;
    right: -40px;
    top: -80px;
}

.header__logo-wrapper {
    display: flex;
    height: 50px;
}

.header__nav-list {
    display: flex;
    font-size: 18px;
}

.header__nav-item:not(:last-child) {
    margin-right: 50px;
}

.header__logo-description {
    font-size: 22px;
    line-height: 25, 3px;
    margin: 0px;
    margin-left: 10px;
}
